@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard ExtraBold"),
    url("assets/fonts/Pretendard-ExtraBold.subset.woff2") format("woff2"),
    url("assets/fonts/Pretendard-ExtraBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("assets/fonts/Pretendard-Bold.subset.woff2") format("woff2"),
    url("assets/fonts/Pretendard-Bold.subset.woff2") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"),
    url("assets/fonts/Pretendard-SemiBold.subset.woff2") format("woff2"),
    url("assets/fonts/Pretendard-SemiBold.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"),
    url("assets/fonts/Pretendard-Medium.subset.woff2") format("woff2"),
    url("assets/fonts/Pretendard-Medium.subset.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("assets/fonts/Pretendard-Regular.subset.woff2") format("woff2"),
    url("assets/fonts/Pretendard-Regular.subset.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"),
    url("assets/fonts/Pretendard-Light.subset.woff2") format("woff2"),
    url("assets/fonts/Pretendard-Light.subset.woff") format("woff");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
